<div class="row">
  <div class="col-lg-12">
    <h1>Products</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>All Products</h4>
    <hr>
    <table class="table table-striped">
      <tr class="success">
        <th>Product Code</th>
        <th colspan="2">Product Name</th>
      </tr>
      <tr ng-repeat="product in products">
        <td><b>{{ product.productCode }}</b></td>
        <td>{{ product.name }}</td>
        <td><a ng-click="deleteProduct(product)"><span class="glyphicon glyphicon-trash text-danger"></span></a></td>
      </tr>
    </table>
  </div>

  <div class="col-lg-6">
    <h4>Add a Product</h4>
    <hr>
    <form ng-submit="submitProduct()">
      <label>Title:</label> <br>
      <input type="text" ng-model="product.name" placeholder="Dharma" class="form-control"> <br>
      <label>Product Code:</label> <br>
      <input type="text" ng-model="product.productCode" placeholder="108" class="form-control"> <br>
      <label>Product Description:</label> <br>
      <input type="text" ng-model="product.description" placeholder="Enter a product description" class="form-control"> <br>
      <input type="submit" value="Save" class="btn btn-primary">
    </form>
    <br>
  </div>
</div>